{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'CSS/customBootstrap.css' %}">
  <title>Document</title>
</head>

<body>

 

  <!--maincontainer-->
  <div class="maincontainer">

   <!--navbar-->
      <!-- Desktop Navbar (visible on larger screens) -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
        <div class="container">
            <a class="navbar-brand" href="/home"><b><i>TaraCrypto</i></b></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/feedback">Feedback</a>
                </li>
            </ul>
        </div>
    </nav>
  
    <!-- Mobile Navbar (hamburger menu; visible on smaller screens) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-block d-lg-none">
        <div class="container">
            <a class="navbar-brand" href="/home"><b><i>TaraCrypto</i></b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mobileNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/feedback">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


  <!--content-->
  <!--latest cards page-->
    <div class="container">
     <h1 class="mt-4"><i>Feedback: Community</i></h1>
      <div class="row mt-4">
          <div class="col-md-4 pb-4"> 
              <div class="card pb-4">
                  <img src="../static/IMG/LocalImages/whatsapp_PNG16.png" class="card-img-top " alt="Blog Image 1">
                  <div class="card-body">
                      <h5 class="card-title"><a>Whatsapp Channel</a></h5>
                      <p class="card-text">Join my whatsapp Channel here where you can see the latest on crypto</p>
                      <a href="https://whatsapp.com/channel/0029Va1sZluHbFVApwmWbL2s" class="btn btn-primary">Join</a>
                  </div>
                </div>
            </div>
        

            <div class="col-md-4 pb-4"> 
                <div class="card pb-4">
                    <img src="../static/IMG/LocalImages/whatsapp_PNG16.png" class="card-img-top " alt="Blog Image 1">
                    <div class="card-body">
                        <h5 class="card-title"><a>Whatsapp Group</a></h5>
                        <p class="card-text">Join my whatsapp Group here where we catch up on the latest Crypto news</p>
                        <a class="btn btn-primary custom-color">Coming soon</a>
                    </div>
                  </div>
              </div>
              

              <div class="col-md-4 pb-4"> 
                <div class="card">
                    <img src="../static/IMG/LocalImages/discord_LOGO.png" class="card-img-top " alt="Blog Image 1">
                    <div class="card-body">
                        <h5 class="card-title"><a>Discord</a></h5>
                        <p class="card-text">Join my discord here where we discuss about all events happening in the crypto space</p>
                        <a class="btn btn-primary custom-color">Coming soon</a>
                    </div>
                  </div>
              </div>
          </div> 
    </div>

    




  <footer class="footer bg-dark text-light py-3">
    <div class="container text-center">
        <p><i>&copy; TaraCrypto</i></p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
